.dashboard{
    display: grid;
    grid-template-columns: 0.6fr 4fr;
}

.sidebar-menu{
    background-color: red;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    
}

.sidebar-menu button {
    align-self: center;
    height: 40px;
    width: 100px;
    margin: 5px;
}

.main-content{
    background-color: blue;
}