.modal{
    padding: 10px;
    background-color: white;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

.modalHeader{
    margin: 5px;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

.modalHeader .title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modalFooter{
    margin: 5px;
}

.backdrop{
    background-color: #000000c0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}