.itemCard{
    width: 420px;
    max-height: 57vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.itemCard::-webkit-scrollbar {
    display: none;
}

.itemCard form table{
    width: 100%;
}

.itemCard:hover{
    cursor: auto;
}

.suppliers{
    display: flex;
    flex-direction: column;
}
.suppliers li{
    list-style: circle;
}

.suppliers li div{
    display: flex;
}

.reducedPrice li{
    list-style: circle;
}

.reducedPrice li div{
    display: flex;
}

.description{
    font-size: xx-large;
    border: 0;
}

.item-input-data{
    border: 0;
    width: auto;
}

.add-new-section{
    display: flex;
    align-items: center;
}

.add-new-section p{
    margin-right: 10px;
}

.add-new-form-section div{
    margin: 5px 1px;
}

.subtable {
    text-align: center;
}

.reason-button {
    margin-left: 20px;
}

.button-save-changes{
    margin-top: 10px;
    height: 40px;
}