.card{
    padding: 20px;
    width: 40%;
    border: 1px solid black;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card p {
    margin: 2px;
}

.card h2 {
    margin: 8px 0;
}

.card:hover{
    cursor: pointer;
}