.item {
    width: 300px;
}

.section{
    /* display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px; */

    display: grid;
    grid-template-columns: 0.25fr 1fr;
}

.filter{
    justify-self: center;
}

.content{
    display: flex;
    justify-content: flex-start;
}