.item {
    width: 300px;
}

.section{
    display: grid;
    grid-template-columns: 0.25fr 1fr;
}

.filter{
    justify-self: center;
}

.content{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}