.supplier-container{
    grid-column: 2 / span 2; 
    border-top: 1px solid lightgray;
}

.supplier-container div{
    grid-template-columns: 150px 200px;
    grid-column: 1 / span 2; 
    justify-self: stretch;
    align-self: flex-end;
}




.supplier-container div label{
    justify-self: flex-start;
}

.supplier-container div input{
    width: 90%;
}